
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Tajawal", sans-serif;
    background: #f8f9fa;
    overflow-x: hidden;
    
  }
  
  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #f0f4f8;
  }
  
  h1 span {
    color: #27ab83;
  }
  
  h2 {
    color: #243b53;
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
  
  h3 {
    color: #2b4561;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 2rem;
    width: 40%;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #d5d5d5;
  }
  
  p {
    font-size: 1.6rem;
    color: #345375;
    line-height: 2;
  }
  
  /* Nav Section */
  .nav-containers {
    background: #334e68;
    color: #f0f4f8;
  }
  
  nav {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 1.6rem;
  }
  
  nav .logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    flex: 3;
    color: #f0f4f8;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex: 1;
  }
  
  nav ul li a {
    color: #f0f4f8;
    text-decoration: none;
  }



img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
    color: #000;
    
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
    font-style: bold;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    color: #17da31;
}

/* product section */
.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: rgb(104, 233, 104);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: rgb(104, 231, 104);
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.product-img img{
    transition: transform 0.6s ;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    letter-spacing: 3px;
    cursor: pointer;
    writing-mode: vertical-lr;
}

/* Footer */
footer {
    background: #243b53;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  footer p {
    color: #d9d9d9;
  }
:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}




  

@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}